# Database
AWESOMEREF_DB_USER=root
AWESOMEREF_DB_PASSWORD=your_password_here
AWESOMEREF_DB_HOST=localhost
AWESOMEREF_DB_PORT=3306
AWESOMEREF_DB_NAME=awe_ref

# JWT Secret (change this in production!)
AWESOMEREF_SECRET_KEY=your-secret-key-here

# Default admin user (created on first run if not exists)
AWESOMEREF_ADMIN_USER=admin
AWESOMEREF_ADMIN_PASS=changeme
